#error {
  color: red;
  padding-top: 10px;
  margin-left: auto;
}


.patList {
  background: #fff;
  max-width: 960px;
  padding: 20px 30px;
  border: 1px solid rgb(201, 201, 201);

}

.blPatList {
  background: #fff;
  max-width: 960px;
  margin: 30px auto;
  padding: 20px 30px;
  border: 1px solid rgb(201, 201, 201)
}

ol {
  list-style-type: none;
  padding: 0;

}

.patList ol li {
  border: 1px solid rgb(201, 201, 201);
  margin-top: 2%;
  padding: 5%;
}

.blPatList ol li {
  border: 1px solid rgb(201, 201, 201);
  margin-top: 2%;
  padding: 5%;
}

a {
  color: blue
}

#account {
  text-align: center;
}